<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServerConfiguration" type="DBClassGen.Config.ServerConfigurationSection, DBClassGen"/>
  </configSections>
  <connectionStrings>
    <add name="Oracle_Dev1" connectionString="Data Source=pd11dev1;User Id=/;"/>
  </connectionStrings>
  <ServerConfiguration>
    <Servers>
      <add name="Oracle_Dev1" connectionStringName="Oracle_Dev1" serverType="Oracle">
        <Filters>
          <add name="TWN"/>
          <add name="SSS"/>
        </Filters>
      </add>
    </Servers>
  </ServerConfiguration>
</configuration>